{% extends 'base_layout.html' %}


{% block content %}
    <div class="article-detail">
        <div class="article">
            <!-- whenever we use image field on the model, we have access to the .url property  
                so that's going to grab url of this thumbnail based on where it is-->
            <img src="{{ eachArticle.thumb.url }}" alt="">
            <h2>{{eachArticle.title}}</h2>
            <h2>{{eachArticle.author}}</h2>
            <p>{{eachArticle.body}}</p>
            <p>{{eachArticle.date}}</p>
        </div>
    </div>
{% endblock %}